<% if errors %>
  <div class="error-message">
    <p>Errors occured during import:</p>
    <ol class="error-message-list">
      <% errors.each do |log_entry| %>
        <li>
          <%= log_entry.source_identifier %> - <%= log_entry.message %>
          <ul>
            <% log_entry.details.each do |_, messages| %>
              <% messages.each do |message| %>
                <li>
                  <%= message %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>
